{{!-- <div>
    <p>Directorio del proyecto:{{info.directorio}}</p>
</div>
<div>
    <p>Id del proyecto:{{info.Id}}</p>
</div>
<div>
    <p>Version de node:{{info.version}}</p>
</div>
<div>
    <p>Titulo del proyecto:{{info.titulo}}</p>
</div>
<div>
    <p>Sistema Operativo:{{info.sistop}}</p>
</div>
<div>
    <p>Uso de momoria:{{info.memoria}}</p>
</div> --}}



