<a href="/">Ir al chat</a>
<h1>Agregar producto:</h1>
<form action="/api/productos" method="post">
    <input type="text" id="title" name="title" placeholder="Ingrese titulo del producto" />
    <input type="text" id="price" name="price" placeholder="Ingrese precio del producto" />
    <input type="text" id="thumbnail" name="thumbnail" placeholder="Ingrese la imagen del producto" />
    <input type="text" id="description" name="description" placeholder="Ingrese la descripcion del producto" />
    <input type="submit" value="Enviar" />
</form>

<h2>Productos</h2>
{{#if productos.length}}
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>descripcion</th>
        </tr>
        {{#each productos}}
        <tr>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td>
                <img class="img"
                     src="{{thumbnail}}" />
            </td>
            <td>{{description}}</td>
        </tr>
        {{/each}}
    </table>
{{else}}
    <h3>No hay productos agregados!</h3>
{{/if}}


<div>

    <h2>Chat</h2>

    <div id="porcentaje"></div>

    <form onsubmit="return login(this)">
        <input type="email" id="email" placeholder="Ingrese su email" />
        <input type="text" id="nombre" placeholder="Ingrese su nombre" />
        <input type="text" id="apellido" placeholder="Ingrese su apellido" />
        <input type="number" id="edad" placeholder="Ingrese su edad" />
        <input type="text" id="alias" placeholder="Ingrese su alias" />
        <input type="image" id="img" placeholder="Ingrese su imagen" />
    
        <input type="text" id="text" placeholder="Ingrese su mensaje" />
        <input type="submit" value="Enviar" />
    </form>
    
    <div id="messages"></div>

</div>
